name: copy post to database
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  copy:
    runs-on: ubuntu-latest
    env: |
      PH_WIKI_LOADER_PRIVATE_KEY: ${{ secrets.PH_WIKI_LOADER_PRIVATE_KEY }}
      APP_ID: ${{ secrets.APP_ID }}
      APP_INSTALLATION_ID: ${{ secrets.APP_INSTALLATION_ID }}
      MONGODB_URI: ${{ secrets.MONGODB_URI }}
    steps:
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '18.x'
    - name: Install external repo
      uses: actions/checkout@v2
      with:
        repository: purduehackers/ph-wiki-post-loader
        path: ./ph-wiki-post-loader
    - name: Install deps and run
      run: |
        cd ./ph-wiki-post-loader
        yarn install
        yarn run start

